{% extends 'base.html.twig' %}

{% block title %}Welcome to ¡HOLA! Developers Exercice{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>¡HOLA! Developers Exercice</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{ articles }}</p>
            </div>
        </div>
    </div>
{% endblock %}